include ../mixins/mixin
block variables

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include ../includes/viewport.pug
    title ЛК Мой бизнес - О нас
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
  body.root
    .container
      block header
      block main
      block footer
      block modals
    include ../includes/widget-button
    block scripts
      script(src="js/libs.js")
      script(src="js/main.min.js")




