footer(class="page-footer")
  div(class="page-footer__top")
    div(class="page-footer__wrapper")
      ul(class="page-footer__list")
        li(class="page-footer__item")
          a(class="page-footer__link", href="#") Политика конфиденциальности
        li(class="page-footer__item")
          a(class="page-footer__link", href="#") Пользовательское соглашение
        li(class="page-footer__item")
          a(class="page-footer__link", href="#") Согласие на обработку персональных данных
        li(class="page-footer__item")
          a(class="page-footer__link", href="#") Форма обратной связи
  div(class="page-footer__bottom")
    div(class="page-footer__wrapper")
      p(class="page-footer__copyright") © 2021 Мой бизнес
script(src="js/main.min.js")
