header(class="page-header page-header--index")
  div(class="page-header__wrapper")
    a(class="page-header__logo logo logo--index", href="index.html")
      img(width="25", height="50", src="img/logo-rocket-header.svg", alt="Logo")
      img(width="131", height="51", src="img/logo-index-header.svg", alt="Logo")

    nav(class="page-header__navigation navigation navigation--header")
      ul(class="navigation__list")
        li(class="navigation__item")
          a(class="navigation__link", href="about.html") О компании

    div(class="page-header__contacts")
      a(class="page-header__mail link link--mail", href="mailto:info@mb89.ru")
        span(class="link__text") info@mb89.ru

      a(class="page-header__phone link", href="tel:88003500089")
        span(class="link__text") 8-800-350-00-89
