header(class="page-header page-header--inner")
  div(class="page-header__wrapper page-header__wrapper--inner")
    a(class="page-header__link link link--red", href="https://mb89.ru")
      span(class="link__text link__text--red link__text--left") mb89.ru
      svg(class="link__icon link__icon--red link__icon--right", width="20", height="20")
        use(xlink:href="img/sprites/sprite-mono.svg#arrow-top")

    a(class="page-header__logo page-header__logo--inner logo", href="index.html")
      img(width="364", height="70", src="img/logo.svg", alt="Logo")

    //a(class="page-header__phone link", href="tel:88003500089")
    //  svg(class="link__icon link__icon--black", width="20", height="20")
    //      use(xlink:href="img/sprites/sprite-mono.svg#phone")
    //  span(class="link__text") 8-800-350-00-89
    .page-header__contact
      a.page-header__phone.link(href="tel:88003500089")
        svg(class="link__icon link__icon--black", width="20", height="20")
          use(xlink:href="img/sprites/sprite-mono.svg#phone")
        span.link__text 8-800-350-00-89
      a.page-header__mail.link(href="mailto:info@mb89.ru")
        span.link__text.page-header__mail-text info@mb89.ru
