header(class="page-header page-header--inner")
  div(class="page-header__wrapper page-header__wrapper--inner")
    div(class="page-header__user user")
      button(class="user__toggle")
        svg(width="20", height="20")
          use(xlink:href="img/sprites/sprite-mono.svg#drop-down")
      div(class="user__avatar")
        a(class="user__notification", href="notifications.html") 2
        a(class="user__img", href="account.html")
          img(width="24", height="24", src="img/avatar.svg", alt="Avatar")
      div(class="user__description")
        h3(class="user__name") Петрова А.В.
        p(class="user__company") ООО «Бизнес»
      ul(class="user__list")
        li(class="user__item")
          a(class="link", href="account.html")
            svg(class="link__icon link__icon--gray", width="20", height="20")
              use(xlink:href="img/sprites/sprite-mono.svg#orders")
            span(class="link__text") Заявки
            span(class="user__notification user__notification--list") 2
        li(class="user__item")
          a(class="link", href="account.html")
            svg(class="link__icon link__icon--gray", width="20", height="20")
              use(xlink:href="img/sprites/sprite-mono.svg#notification")
            span(class="link__text") Уведомления
            span(class="user__notification user__notification--list") 2
        li(class="user__item")
          a(class="link", href="account.html")
            svg(class="link__icon link__icon--gray", width="20", height="20")
              use(xlink:href="img/sprites/sprite-mono.svg#settings")
            span(class="link__text") Настройки
        li(class="user__item")
          a(class="link", href="account/sign-out.html")
            svg(class="link__icon link__icon--gray", width="20", height="20")
              use(xlink:href="img/sprites/sprite-mono.svg#sign-out")
            span(class="link__text") Выйти

    a(class="page-header__logo page-header__logo--inner logo", href="index.html")
      img(width="364", height="70", src="img/logo.svg", alt="Logo")

    a(class="page-header__phone link", href="tel:88003500089")
      svg(class="link__icon link__icon--black", width="20", height="20")
          use(xlink:href="img/sprites/sprite-mono.svg#phone")
      span(class="link__text") 8-800-350-00-89
