.events {
  padding: 60px 0;

  .custom-container {
    @extend %wrapper;
  }

  &__title {
    margin: 0 0 30px;

    font-size: 32px;
    line-height: 48px;

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__subtitle {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 410px 1fr;
    gap: 30px;

    @media screen and (max-width: 1199px) {
      grid-template-columns: 40% 1fr;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;

    gap: 30px;
    margin: 0 0 60px;
    padding: 0;

    list-style: none;

    &--col {
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    position: relative;

    display: flex;
    align-items: flex-start;
    padding: 30px;
    border-radius: 10px;

    background-color: $white;
    box-shadow: 0 10px 40px rgba(35, 31, 32, 5%);

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 15px;
    }

    &--col {
      flex-direction: column;
    }

    &:hover {
      .events__heading {
        color: $red;
      }
    }
  }

  &__picture {
    display: block;
    flex-shrink: 0;
    max-width: 350px;
    margin: 0 30px 0 0;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      max-width: unset;
      margin: 0 0 30px;
    }

    &--col {
      max-width: unset;
      margin: 0 0 30px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__hashtag {
    margin: 0 0 10px;

    color: $brown-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__heading {
    margin: 0 0 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    transition: all ease-out 0.15s;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__text {
    margin: 0 0 32px;

    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: auto 0 0;
  }

  &__info-value {
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }

    &--bold {
      margin: 0 0 0 10px;

      font-weight: 700;
    }

    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  &__shadow-link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
  }
}
