section.events.events-full
  .custom-container
    .events-full__wrapper.events__wrapper
      .events-full__info
        h2.events-full__title Дни малого бизнеса на&nbsp;Ямале
        span.events__hashtag.events-full__hashtag #Выставка
        dl.events-full__dl-list
          .events-full__dl-wrap
            dt.events-full__dl-term Дата проведения:
            dd.events-full__dl-def.events-full__dl-def--brown 31 января 2022, 18:00
          .events-full__dl-wrap
            dt.events-full__dl-term Место проведения:
            dd.events-full__dl-def Онлайн
          .events-full__dl-wrap
            dt.events-full__dl-term Спикер:
            dd.events-full__dl-def директор ООО "Бухгалтерия" Шайымова Лилия Рахманкуловна
          .events-full__dl-wrap
            dt.events-full__dl-term Продолжительность:
            dd.events-full__dl-def 2 часа
        .events-full__documents
          h3.events-full__subheading Документы
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Заявление.docx
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Паспорт проекта.docx
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Согласие на обработку персональных данных.docx
      .events-full__description
        p.events-full__text Получи ответы на сложные вопросы!
        p.events-full__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тенденциях этого года и не упустить важные направления для трансформации вашего бизнеса предлагаем стать онлайн-участником круглого стола "Изменения в налоговом и бухгалтерском учёте в 2022 году", организованного Центром "Мой бизнес" г. Губкинский.
        h3.events-full__heading.events__heading Программа:
        ul.events-full__list
          li.events-full__item
            span.events-full__name Изменения ПБУ
          li.events-full__item
            span.events-full__name Изменения КБК
          li.events-full__item
            span.events-full__name Введение единого КБК для уплаты и исчисления налогов
          li.events-full__item
            span.events-full__name Расчеты с бюджетом и ЭЦП
          li.events-full__item
            span.events-full__name Отчётность
          li.events-full__item
            span.events-full__name Зарплата и кадры
        .events-full__bottom
          a.button.button--red(href="#") Отправить заявку

