section.events
  .custom-container
    h2.events__title Образование и мероприятия
    p.events__subtitle Ближайшие мероприятия
    ul.events__list.events__list--row
      li.events__item
        picture.events__picture
          img.events__img(src="img/events-img-1.png" width="350" height="200" alt="Картинка мероприятия")
        .events__inner
          span.events__hashtag #Курс
          h3.events__heading Основы предпринимательства
          p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тенденциях этого года и не упустить важные направления для трансформации вашего бизнеса предлагаем стать он...
          .events__info
            span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
            span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
        a.events__shadow-link(href="#")
      li.events__item
        picture.events__picture
          img.events__img(src="img/events-img-2.png" width="350" height="200" alt="Картинка мероприятия")
        .events__inner
          span.events__hashtag #Курс
          h3.events__heading Основы предпринимательства
          p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тенденциях этого года и не упустить важные направления для трансформации вашего бизнеса предлагаем стать он...
          .events__info
            span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
            span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
    p.events__subtitle Все мероприятия
    .events__wrapper
      include filters
      ul.events__list.events__list--col
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-2.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Форум
            h3.events__heading Дни малого бизнеса на Ямале
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-3.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Выставка
            h3.events__heading Лучшее на Ямале
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-4.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Курс
            h3.events__heading Лучшее на Ямале
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-5.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Премия
            h3.events__heading Региональный отбор Национальной предпринимательской премии “Бизнес-Успех”
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-6.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Премия
            h3.events__heading Региональный отбор Национальной предпринимательской премии “Бизнес-Успех”
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
        li.events__item.events__item--col
          picture.events__picture.events__picture--col
            img.events__img(src="img/events-img-7.png" width="350" height="200" alt="Картинка мероприятия")
          .events__inner
            span.events__hashtag #Курс
            h3.events__heading Лучшее на Ямале
            p.events__text Мир непрерывно меняется и вместе с ним меняются механизмы налогового и бухгалтерского учёта. Чтобы разобраться в тен...
            .events__info
              span.events__info-value Дата проведения: #[span.events__info-value--bold 31 января 2022]
              span.events__info-value Место проведения: #[span.events__info-value--bold г. Салехард]
          a.events__shadow-link(href="#")
