.events__filter
  form.filters(action="#" method="GET")
    .filters__fieldset
      h4.filters__title Фильтры
    .filters__fieldset
      h5.filters__heading Тип мероприятия
      .filters__checkbox-wrapper
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeAll" name="typeAll" value="typeAll" checked)
          label.filters__checkbox-label(for="typeAll") Все
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeTitle" name="typeTitle" value="typeTitle")
          label.filters__checkbox-label(for="typeTitle") Название
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeSeminar" name="typeSeminar" value="typeSeminar")
          label.filters__checkbox-label(for="typeSeminar") #Семинар
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeForum" name="typeForum" value="typeForum")
          label.filters__checkbox-label(for="typeForum") #Форум
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeAward" name="typeAward" value="typeAward")
          label.filters__checkbox-label(for="typeAward") #Премия
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="typeExhibition" name="typeExhibition" value="typeExhibition")
          label.filters__checkbox-label(for="typeExhibition") #Выставка
    .filters__fieldset
      h5.filters__heading Дата проведения
      .filters__calendar
        p.filters__choose-date Выберите дату
        .filters__datepicker
    .filters__fieldset
      h5.filters__heading Место проведения
      .filters__checkbox-wrapper
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placeAll" name="placeAll" value="placeAll" checked)
          label.filters__checkbox-label(for="placeAll") Все
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placeSalekhard" name="placeSalekhard" value="placeSalekhard")
          label.filters__checkbox-label(for="placeSalekhard") Салехард
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placeMoscow" name="placeMoscow" value="placeMoscow")
          label.filters__checkbox-label(for="placeMoscow") Москва
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placeOnline" name="placeOnline" value="placeOnline")
          label.filters__checkbox-label(for="placeOnline") Онлайн
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placePetersburg" name="placePetersburg" value="placePetersburg")
          label.filters__checkbox-label(for="placePetersburg") Санкт-Петербург
        .filters__checkbox-box
          input.filters__checkbox-input(type="checkbox" id="placeTyumen" name="placeTyumen" value="placeTyumen")
          label.filters__checkbox-label(for="placeTyumen") Тюмень
