section.about.tabs-nav
  .about__header.tabs-nav__header
    ul.about__list.about__list--tabs.tabs-nav__list
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "loans-page" ? "active" : "" href= pageClass === "loans-page" ? "" : "loans.html")
          +icon("about-finance", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Займы
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "events-page" ? "active" : "" href= pageClass === "events-page" ? "" : "events.html")
          +icon("about-events", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Мероприятия
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "compensation-page" ? "active" : "" href= pageClass === "compensation-page" ? "" : "compensation.html")
          +icon("about-refund", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Компенсации
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "grant-page" ? "active" : "" href= pageClass === "grant-page" ? "" : "grant.html")
          +icon("about-grant", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Гранты
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "ecp-page" ? "active" : "" href= pageClass === "ecp-page" ? "" : "ecp.html")
          +icon("about-ecp", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text ЭЦП
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "guarantee-page" ? "active" : "" href= pageClass === "guarantee-page" ? "" : "guarantee.html")
          +icon("about-lock", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Поручительство
      li.about__item.about__item--tabs
        a.about__button.tabs-nav__link(class= pageClass === "leasing-page" ? "active" : "" href= pageClass === "leasing-page" ? "" : "leasing.html")
          +icon("about-lizing", "32", "32").about__icon.tabs-nav__icon
          span.about__text.tabs-nav__text Лизинг
