html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include includes/viewport.pug
    title ЛК Мой бизнес - Личный кабинет
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
  body
    div(class="container")
      include includes/header.pug
      main(class="page-main")
        section(class="about")
          header(class="about__header about__header--account")
            div(class="about__wrapper")
              h1(class="about__title about__title--account") Профиль
          div(class="about__wrapper about__wrapper--inner")
            aside(class="about__aside")
              nav(class="account")
                ul(class="account__list")
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#account")
                      span Учетная запись
                  li(class="account__item")
                    a(class="account__link active", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#orders")
                      span Заявки на получение микрозаймов
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#taxes")
                      span Налоги
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#signature")
                      span Электронная подпись
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#sequrity")
                      span Безопасность

            div(class="about__content about__content--inner")
              div(class="account account--content")
                h2(class="account__subtitle") Черновики
                ul(class="about__list about__list--account")
                  li(class="about__item about__item--account")
                    div(class="about__top")
                      time(class="about__time") 24.11.2021
                      buttom(class="about__delete button button--white button--white-small")
                        svg(width="18", height="18")
                          use(xlink:href="img/sprites/sprite-mono.svg#cross")
                        span Удалить заявку

                      a(class="about__continue button button--primary", href="#")
                        svg(width="18", height="18")
                          use(xlink:href="img/sprites/sprite-mono.svg#pen")
                        span Продолжить заполнение
                    h3(class="about__subtitle about__subtitle--account") Микрозайм «Недвижимость»
                    dl(class="about__d-list")
                          div(class="about__d-row")
                            dt(class="about__d-term") Сумма займа:
                            dd(class="about__d-definition about__d-definition--red") 1 840 000 руб.
                          div(class="about__d-row")
                            dt(class="about__d-term") Срок займа:
                            dd(class="about__d-definition") 38 месяцев
                          div(class="about__d-row")
                            dt(class="about__d-term") Ставка:
                            dd(class="about__d-definition") 7,5% годовых
              div(class="account account--content")
                h2(class="account__subtitle") Все заявки
                ul(class="about__list about__list--account")
                  li(class="about__item about__item--account")
                    div(class="about__top about__top--status")
                      time(class="about__time") 10.10.2021
                      span(class="about__status about__status--warning status status--warning") Требуются дополнительные документы
                      a(class="about__continue button button--primary", href="#")
                        svg(width="18", height="18")
                          use(xlink:href="img/sprites/sprite-mono.svg#pen")
                        span Редактировать

                    h3(class="about__subtitle about__subtitle--account") Микрозайм «Недвижимость»
                    dl(class="about__d-list")
                          div(class="about__d-row")
                            dt(class="about__d-term") Сумма займа:
                            dd(class="about__d-definition about__d-definition--red") 1 840 000 руб.
                          div(class="about__d-row")
                            dt(class="about__d-term") Срок займа:
                            dd(class="about__d-definition") 38 месяцев
                          div(class="about__d-row")
                            dt(class="about__d-term") Ставка:
                            dd(class="about__d-definition") 7,5% годовых

                  li(class="about__item about__item--account")
                    div(class="about__top about__top--status")
                      time(class="about__time") 10.10.2021
                      span(class="status status--in-processing") В обработке
                    h3(class="about__subtitle about__subtitle--account") Микрозайм «Недвижимость»
                    dl(class="about__d-list")
                          div(class="about__d-row")
                            dt(class="about__d-term") Сумма займа:
                            dd(class="about__d-definition about__d-definition--red") 1 840 000 руб.
                          div(class="about__d-row")
                            dt(class="about__d-term") Срок займа:
                            dd(class="about__d-definition") 38 месяцев
                          div(class="about__d-row")
                            dt(class="about__d-term") Ставка:
                            dd(class="about__d-definition") 7,5% годовых

                  li(class="about__item about__item--account")
                    div(class="about__top about__top--status")
                      time(class="about__time") 24.11.2021
                      span(class="status status--received") Получен
                    h3(class="about__subtitle about__subtitle--account") Микрозайм «Недвижимость»
                    dl(class="about__d-list")
                          div(class="about__d-row")
                            dt(class="about__d-term") Сумма займа:
                            dd(class="about__d-definition about__d-definition--red") 1 840 000 руб.
                          div(class="about__d-row")
                            dt(class="about__d-term") Срок займа:
                            dd(class="about__d-definition") 38 месяцев
                          div(class="about__d-row")
                            dt(class="about__d-term") Ставка:
                            dd(class="about__d-definition") 7,5% годовых

                  li(class="about__item about__item--account")
                    div(class="about__top about__top--status")
                      time(class="about__time") 24.11.2021
                      span(class="status status--declined") Отказан
                    h3(class="about__subtitle about__subtitle--account") Микрозайм «Недвижимость»
                    dl(class="about__d-list")
                          div(class="about__d-row")
                            dt(class="about__d-term") Сумма займа:
                            dd(class="about__d-definition about__d-definition--red") 1 840 000 руб.
                          div(class="about__d-row")
                            dt(class="about__d-term") Срок займа:
                            dd(class="about__d-definition") 38 месяцев
                          div(class="about__d-row")
                            dt(class="about__d-term") Ставка:
                            dd(class="about__d-definition") 7,5% годовых

      include includes/footer.pug
