extends layout/layout

block variables
  - var title = "Компенсация на приобретение и ремонт оборудования"
  - var pageClass = "compensation-page"

block header
  header
    include includes/header
block main
  main.page-main(class=pageClass)
    .breadcrumbs
      .custom-container
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="compensation.html") Компенсации
          li.breadcrumbs__item
            span.breadcrumbs__current Компенсация на приобретение и ремонт оборудования
    include modules/compensation/compensation-full
block footer
  include modules/footer/footer
