html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include includes/viewport.pug
    title ЛК Мой бизнес - Восстановление пароля
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
  body
    div(class="container")
      include includes/header-login.pug
      main(class="page-main")
        h1(class="visually-hidden") Восстановление пароля

        section(class="promo promo--login")
          div(class="promo__wrapper promo__wrapper--login")
            form(class="promo__form promo__form--sign-in form form--login", action="forgot-step2.html", method="get")
                  a(class="promo__link promo__link--back", href="sign-in.html")
                    svg(class="promo__link-icon promo__link-icon--left", width="20", height="20")
                      use(xlink:href="img/sprites/sprite-mono.svg#arrow-back")
                    | Назад ко входу

                  h2(class="form__title form__title--login") Восстановление пароля
                  div(class="form__row form__row--field")
                    div(class="form__field")
                      input(type="email", name="email", required="true", id-="email", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}")
                      label(class="form__placeholder", fot="email") E-mail

                    span(class="form__error") Неккорректный e-mail

                  div(class="form__text form__text--forgot")
                    p Укажите, куда отправить инструкции для восстановления пароля.

                  button(class="form__button form__button--submit button button--red", type="submit") Отправить

            a(class="promo__link promo__link--login", href="sign-up.html") Зарегистрироваться

            div(class="promo__social social")
                - const socials = ['fb', 'insta', 'vk'];
                  ul(class="social__list social__list--vertical")
                    each val in socials
                      li(class="social__item social__item--vertical")
                        a(class="social__link social__link--brown", href="#", target="_blank")
                          svg(width="24", height="24", aria-label= val)
                              use(xlink:href="img/sprites/sprite-mono.svg#" + val)
      include includes/footer.pug




