extends layout/layout

block variables
  - var title = "Учредительные документы"
  - var pageClass = "founding-documents"

block header
  include includes/header
block main
  main.page-main(class=pageClass)
    include modules/social/social-fix
    include modules/documents/founding-documents-3


