html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include includes/viewport.pug
    title ЛК Мой бизнес - О нас
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
  body
    div(class="container")
      include includes/header.pug
      main(class="page-main")
        section(class="about")
          header(class="about__header about__header--inner")
            div(class="about__wrapper")
              ul(class="pagination")
                li(class="pagination__item")
                  a(class="pagination__link", href="about.html") Финансовая поддержка бизнеса
                li(class="pagination__item")
                  a(class="pagination__link", href="micro.html") Микрозайм «Недвижимость»
                li(class="pagination__item")
                  span(class="pagination__current") Заявка на получение
          div(class="about__wrapper about__wrapper--inner")
            aside(class="about__aside")
              h1(class="about__title about__title--inner") Микрозайм «Недвижимость»
              dl(class="about__d-list")
                div(class="about__d-row")
                  dt(class="about__d-term") Сумма займа:
                  dd(class="about__d-definition about__d-definition--red") от 100 000 до 1 500 000 руб.
                div(class="about__d-row")
                  dt(class="about__d-term") Срок займа:
                  dd(class="about__d-definition") до 24 месяцев (включительно)
                div(class="about__d-row")
                  dt(class="about__d-term") Ставка:
                  dd(class="about__d-definition") от 7,5% годовых
            div(class="about__content about__content--inner")
              div(class="faq")
                ul(class="faq__list")
                  li(class="faq__item")
                    button(class="faq__button") Отсрочка платежа по основной сумме займа (для дифференцированных платежей)
                    div(class="faq__content")
                      p Предоставляется по заявлению клиента на срок не более 6 месяцев
                  li(class="faq__item")
                    button(class="faq__button") График погашения
                    div(class="faq__content")
                      p Предоставляется по заявлению клиента на срок не более 6 месяцев
                      p График погашения
                  li(class="faq__item")
                    button(class="faq__button") Цель займа
                    div(class="faq__content")
                      p Предоставляется по заявлению клиента на срок не более 6 месяцев
                div(class="about__form form")
                  h2(class="form__title") Заявка на получение микрозайма «Недвижимость»
                  div(class="form__content")
                    svg(class="form__icon form__icon--error", width="100", height="92")
                      use(xlink:href="img/sprites/sprite-multi.svg#error")

                    div(class="form__text form__text--error")
                      p
                        | У вас уже есть активная заявка по данному займу.
                        br
                        | Пожалуйста, дождитесь ее рассмотрения.

                    a(class="form__button form__button--back button button--red", href="#") Назад к списку услуг
                    a(class="form__button form__button--show button button--white", href="#") Посмотреть заявку

      include includes/footer.pug




