html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    include includes/viewport.pug
    title ЛК Мой бизнес - Личный кабинет
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
  body
    div(class="container")
      include includes/header.pug
      main(class="page-main")
        section(class="about")
          header(class="about__header about__header--account")
            div(class="about__wrapper")
              h1(class="about__title about__title--account") Профиль
          div(class="about__wrapper about__wrapper--inner")
            aside(class="about__aside")
              nav(class="account")
                ul(class="account__list")
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#account")
                      span Учетная запись
                  li(class="account__item")
                    a(class="account__link active", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#orders")
                      span Заявки на получение микрозаймов
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#taxes")
                      span Налоги
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#signature")
                      span Электронная подпись
                  li(class="account__item")
                    a(class="account__link", href="account.html")
                      svg(width="24", height="24")
                        use(xlink:href="img/sprites/sprite-mono.svg#sequrity")
                      span Безопасность

            div(class="about__content about__content--inner")
              div(class="account account--content")
                h2(class="account__subtitle") новые
                ul(class="about__list about__list--account")
                    li(class="about__item about__item--notifications")
                      span(class="status status--notifications status--received")

                      div(class="about__center about__center--notification")
                        h3(class="about__notification-title") Заявка на займ одобрена!
                        p(class="about__notification-text")
                          | Ваша заявка на
                          a(href="micro.html")  микрозайм «Недвижимость»
                          |  одобрена.

                      time(class="about__time about__time--notifications") 18:00, 24 ноября 2021

              div(class="account account--content")
                h2(class="account__subtitle") просмотренные
                ul(class="about__list about__list--account")
                    li(class="about__item about__item--notifications")
                      span(class="status status--notifications status--warning")

                      div(class="about__center about__center--notification")
                        h3(class="about__notification-title") Требуются дополнительные документы
                        p(class="about__notification-text")
                          a(href="") Пришел ответ
                          |  по заявке
                          a(href="micro.html")  микрозайм «Недвижимость»
                          |  — требуются дополнительные документы.

                      time(class="about__time about__time--notifications") 15:30, 24 ноября 2021
                    li(class="about__item about__item--notifications")
                      span(class="status status--notifications status--in-processing")

                      div(class="about__center about__center--notification")
                        h3(class="about__notification-title") Заявка на займ отправлена на рассмотрение
                        p(class="about__notification-text")
                          |  Ваша заявка на
                          a(href="micro.html")  микрозайм «Недвижимость»
                          |  отправлена на рассмотрение.

                      time(class="about__time about__time--notifications") 15:10, 24 ноября 2021


      include includes/footer.pug
