extends layout/layout

block variables
  - var title = "Личный кабинет"
  - var pageClass = "requisites-page"

block header
  header
    include includes/header
block main
  main.page-main(class=pageClass)
    .breadcrumbs
      .custom-container
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="personal-area-1.html") Профиль
          li.breadcrumbs__item
            a.breadcrumbs__link(href="personal-area-2.html") Компании и реквизиты
          li.breadcrumbs__item
            span.breadcrumbs__current ООО «Бизнес»
    include modules/personal-area/requisites
block footer
  include modules/footer/footer
