extends layout/layout

block variables
  - var title = "ЭЦП"
  - var pageClass = "ecp-page"

block header
  header
    include includes/header-burger
block main
  main.page-main(class=pageClass)
    include modules/tabs-nav/tabs-nav
    include modules/signature/signature
block footer
  include modules/footer/footer


