extends layout/layout

block variables
  - var title = "sitemap"
  - var pageClass = "sitemap"

block header
  include includes/header-index
block main
  main.page-main(class=pageClass)
    include modules/social/social-fix
    ul(style="list-style:none;padding-left:100px;")
      li(style="display:flex;flex-direction:column;")
       p Эти страницы делал предыдущий разработчик
       a(href="about.html" style="text-decoration:line-through;") about (не актуально - переделано)
       a(href="account.html" style="text-decoration:line-through;") account (не актуально - переделано)
       a(href="forgot.html") forgot - (Актуально - переработано и исправлено)
       a(href="forgot-step2.html") forgot step 2 - (Актуально - переработано и исправлено)
       a(href="forgot-step3.html") forgot step 3 - (Актуально - переработано и исправлено)
       a(href="micro.html" style="text-decoration:line-through;") micro (не актуально - переделано)
       a(href="micro-error.html" style="text-decoration:line-through;") micro-error (не актуально - переделано)
       a(href="notifications-sidebar.html" style="text-decoration:line-through;") notifications-sidebar (не актуально - переделано)
       a(href="restore.html") restore - (Актуально - переработано и исправлено)
       a(href="sign-in.html") sign-in - (Актуально - переработано и исправлено)
       a(href="sign-up.html") sign-up - (Актуально - переработано и исправлено)
      li(style="display:flex;flex-direction:column;")
        p Эти страницы делал новый разработчик (Цыганов Олег)
        a(href="index.html") index
        a(href="index-error.html") index-error
        a(href="identity-verification.html") Верификация пользователя
        a(href="founding-documents.html") Учредительные документы
        a(href="founding-documents-2.html") Учредительные документы - 2
        a(href="founding-documents-3.html") Учредительные документы - 3
        a(href="founding-documents-4.html") Учредительные документы - 4
        a(href="loans.html") Займы
        a(href="loan.html") Займ один
        a(href="loan-error.html") Займ ошибка
        a(href="events.html") Мероприятия
        a(href="event-full.html") Страница одного мероприятия
        a(href="personal-area.html") Личный кабинет - 1
        a(href="personal-area-2.html") Личный кабинет - 2
        a(href="personal-area-3.html") Личный кабинет - 3
        a(href="personal-area-4.html") Личный кабинет - 4
        a(href="requisites.html") Реквизиты ООО "Бизнес"
        a(href="compensation.html") Компенсации
        a(href="compensation-full.html") Компенсации одной выплаты
        a(href="grants.html") Гранты
        a(href="grants-full.html") Гранты отдельная страница
        a(href="signature.html") ЭЦП
        a(href="signature-full.html") Получение электронной цифровой подписи
        a(href="guarantee.html") Поручительство
        a(href="guarantee-full.html") Универсальное поручительство
        a(href="to-sign.html") Подписать документы
        a(href="sms-confirm.html") Подтверждение по СМС
        a(href="notifications.html") notifications

