extends layout/layout

block variables
  - var title = "sitemap"
  - var pageClass = "sitemap"

block header
  include includes/header-index
block main
  main.page-main(class=pageClass)
    include modules/social/social-fix
    ul(style="list-style:none;padding-left:100px;")
      li(style="display:flex;flex-direction:column;")
       p Эти страницы делал предыдущий разработчик
       a(href="index.html") index
       a(href="about.html") about
       a(href="account.html") account
       a(href="forgot.html") forgot
       a(href="forgot-step2.html") forgot step 2
       a(href="forgot-step3.html") forgot step 3
       a(href="micro.html") micro
       a(href="micro-error.html") micro-error
       a(href="notifications.html") notifications
       a(href="notifications-sidebar.html") notifications-sidebar
       a(href="restore.html") restore
       a(href="sign-in.html") sign-in
       a(href="sign-up.html") sign-up
      li(style="display:flex;flex-direction:column;")
        p Эти страницы делал новый разработчик (Цыганов Олег)
        a(href="identity-verification.html") Верификация пользователя
        a(href="founding-documents.html") Учредительные документы
        a(href="founding-documents-2.html") Учредительные документы - 2
        a(href="founding-documents-3.html") Учредительные документы - 3
        a(href="founding-documents-4.html") Учредительные документы - 4
        a(href="loans.html") Займы
        a(href="events.html") Мероприятия
        a(href="event-full.html") Страница одного мероприятия
        a(href="personal-area.html") Личный кабинет - 1
        a(href="personal-area-2.html") Личный кабинет - 2

