.index-footer {
  background-color: $gray-dark;
  color: $white;
  grid-area: footer;
  padding: 50px 0 0;

  &__wrapper {
    @extend %wrapper;
    max-width: unset;
    padding: 0 40px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0 100px 0 0;
    @media screen and (max-width: 1023px) {
      margin: 0 0 50px 0;
    }
  }

  &__inner {
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
      margin: 0;
    }
  }

  &__title {
    color: $white;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 10px 0;
    transition: all ease-out 0.15s;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;

    &:hover {
      color: $red;
      text-decoration-color: $red;
    }
  }

  &__row {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__value {
    color: $white;
    font-size: 16px;
    line-height: 23px;
    transition: all ease-out 0.15s;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &--contacts {
      &:hover {
        color: $red;
        text-decoration-color: $red;
      }
    }

    &--docs {
      &:hover {
        text-decoration-color: $white;
      }
    }

    &--phone {
      padding: 0 0 0 25px;
      position: relative;

      svg {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        fill: $brown;
      }
    }
  }

  &__social {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }

  &__social-item {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }

  &__social-link {
    svg {
      fill: $brown;
      transition: all ease-out 0.3s;
    }

    &:hover {
      svg {
        fill: $red;
      }
    }
  }

  &__copyright {
    flex: 0 0 100%;
    font-size: 16px;
    line-height: 23px;
    margin: 80px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
