.info {
  position: relative;

  z-index: 2;

  display: inline-block;

  width: rem(20);
  height: rem(20);
}

.info__button {
  @extend %button-reset;

  svg {
    opacity: 0.2;

    fill: none;

    stroke: #000000;
  }

  &:hover,
  &:focus {
    svg {
      opacity: 1;

      fill: none;

      stroke: $red;
    }

    & + .info__text {
      transform: translate3d(100%, -50%, 0) rotate3d(1, 0, 0, 0);

      transition: transform 0.3s;
    }
  }
}

.info__text {
  position: absolute;

  top: 50%;

  right: rem(-4);

  width: calc(260 / 1920 * 100vw);
  height: auto;

  margin: 0;
  padding: rem(8) rem(10);

  @include text-small;

  border: 2px solid $gray;

  border-radius: 10px;

  font-weight: 400;

  background-color: $white;

  box-shadow: 0 10px 40px rgba(35, 31, 32, 5%);

  transform: translate3d(100%, -50%, 0) rotate3d(1, 0, 0, 90deg);

  transition: transform 0.3s;
}
