.page-header {
  @extend %w100;

  position: relative;

  grid-area: header;

  background-color: $white;

  &--index {
    padding-top: rem(31.5);
    padding-bottom: rem(31.5);
  }

  &--inner {
    padding-top: rem(22);
    padding-bottom: rem(22);
  }
}

.page-header__wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: max-content max-content 1fr;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  @extend %wrapper;

  &--inner {
    display: grid;

    grid-row: auto;

    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.page-header__contacts {
  margin: 0 0 0 auto;

  @media screen and (max-width: 1023px) {
    grid-column: 3 / -1;
  }

  @media screen and (max-width: 767px) {
    grid-column: 1 / -1;
    margin: 0;
    justify-self: center;
  }
}

.page-header__navigation {
  margin-right: auto;
  margin-left: rem(20);

  @media screen and (max-width: 767px) {
    justify-self: center;
    margin: 0 0 20px 0;
  }
}

.page-header__user,
.page-header__link {
  justify-self: flex-start;
}

.page-header__user {
  @media screen and (max-width: 767px) {
    grid-row: 2 / 3;
    grid-column: 1 / -2;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px;
  }
}

.page-header__link {
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.page-header__phone {
  justify-self: flex-end;

  @media screen and (max-width: 1023px) {
    grid-column: -1 / -2;
  }

  @media screen and (max-width: 767px) {
    grid-column: 1 / -1;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.page-header__logo {
  @media screen and (max-width: 1023px) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &.is-menu {
    position: relative;
    z-index: 50;
  }

  &--inner {
    width: 364px;
    height: auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
