.page-main {
  @extend %w100;

  grid-area: main;
  overflow: hidden;
  @media screen and (max-width: 1023px) {
    overflow: hidden;
  }

  &__wrapper {
    .tabs-nav {
      &__container {
        padding: 0 0 0 34%;

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      &__header {
        padding: 0 rem(30) 0;

        @media screen and (max-width: 1023px) {
          padding: 0 20px 5px 0;
        }
      }

      &__scrollbar {
        display: none;
      }

      &__arrows {
        display: flex;
      }
    }

    .page-main__half-content {
      padding: 60px 0 70px 34%;

      @media screen and (max-width: 1023px) {
        padding: 60px 0 70px;
      }
    }

    .page-main__half-grid {
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    .about__wrapper {
      position: relative;

      overflow: inherit;

      @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
