.sandwich {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 55;

  display: none;
  align-items: center;
  padding: 0;

  background-color: transparent;

  @media screen and (max-width: 1023px) {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(#000000, 0.15);
    border-radius: 5px;

    transition: all ease-out 0.3s;
  }

  @media screen and (max-width: 767px) {
    top: 114px;
  }

  &.is-active,
  &.active {
    border: 1px solid rgba(0, 0, 0, 15%);

    .sandwich__menu {
      background-color: rgba(#000000, 0);
    }

    .sandwich__menu::after {
      top: 0;

      background-color: #000000;
      transform: rotate(45deg);

      transition: background-color 0.3s, top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .sandwich__menu::before {
      bottom: 0;

      background-color: #000000;
      transform: rotate(-45deg);

      transition: background-color 0.3s, bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &--small {
    position: relative;
    top: unset;
    right: unset;

    display: flex;
    width: 20px;
    height: 20px;
    border: none;

    cursor: pointer;

    transition: opacity ease-out 0.3s;

    .sandwich__menu {
      pointer-events: none;
    }

    &:hover {
      opacity: 0.7;
    }

    &.is-active,
    &.active {
      border: none;
    }
  }

  &__menu {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 18px;
    height: 2px;

    background-color: #000000;
    transform: translate(-50%, -50%);

    transition: all 0s 0.3s;

    &::before {
      position: absolute;
      bottom: 5px;
      left: 0;

      width: 18px;
      height: 2px;

      background-color: #000000;

      transition: background-color 0.3s, bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);

      content: '';
    }

    &::after {
      position: absolute;
      top: 5px;
      left: 0;

      width: 18px;
      height: 2px;

      background-color: #000000;

      transition: background-color 0.3s, top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

      content: '';
    }
  }
}
