.about__wrapper
    .about__content.active
      h2.about__title Микрозаймы для бизнеса
      ul.about__list.about__list--content
        li.about__item.about__item--content.about__item--hover
          a.about__link(href="micro.html")
            h3.about__subtitle Микрозайм «Недвижимость»
            dl.about__d-list
              .about__d-row
                dt.about__d-term Сумма займа:
                dd.about__d-definition.about__d-definition--red до 5 000 000 руб.
              .about__d-row
                dt.about__d-term Срок займа:
                dd.about__d-definition до 3 лет
                  .info.info--about
                    button.info__button
                      +icon("info", "20", "20")
                    p.info__text Места ведения бизнеса, в случае использования нескольких точек укажите все.
              .about__d-row
                dt.about__d-term Ставка:
                dd.about__d-definition от 7,5% годовых
        li.about__item.about__item--content.about__item--hover
          a.about__link(href="micro.html")
            h3.about__subtitle Микрозайм «Старт»
            dl.about__d-list
              .about__d-row
                dt.about__d-term Сумма займа:
                dd.about__d-definition.about__d-definition--red от 100 000 до 1 500 000 руб.
              .about__d-row
                dt.about__d-term Срок займа:
                dd.about__d-definition до 3 лет
                  .info.info--about
                    button.info__button
                      +icon("info", "20", "20")
                    p.info__text Места ведения бизнеса, в случае использования нескольких точек укажите все.
              .about__d-row
                dt.about__d-term Ставка:
                dd.about__d-definition от 3% годовых
        li.about__item.about__item--content.about__item--hover
          a.about__link(href="micro.html")
            h3.about__subtitle Микрозайм «Экспресс»
            dl.about__d-list
              .about__d-row
                dt.about__d-term Сумма займа:
                dd.about__d-definition.about__d-definition--red от 100 000 до 1 000 000 руб.
              .about__d-row
                dt.about__d-term Срок займа:
                dd.about__d-definition до 1 года
                  .info.info--about
                    button.info__button
                      +icon("info", "20", "20")
                    p.info__text Места ведения бизнеса, в случае использования нескольких точек укажите все.
              .about__d-row
                dt.about__d-term Ставка:
                dd.about__d-definition от 11,25% годовых
        li.about__item.about__item--content.about__item--hover
          a.about__link(href="micro.html")
            h3.about__subtitle Микрозайм «Универсальный»
            dl.about__d-list
              .about__d-row
                dt.about__d-term Сумма займа:
                dd.about__d-definition.about__d-definition--red от 100 000 до 5 000 000 руб.
              .about__d-row
                dt.about__d-term Срок займа:
                dd.about__d-definition до 3 лет
                  .info.info--about
                    button.info__button
                      +icon("info", "20", "20")
                    p.info__text Места ведения бизнеса, в случае использования нескольких точек укажите все.
              .about__d-row
                dt.about__d-term Ставка:
                dd.about__d-definition от 7,5% годовых
        li.about__item.about__item--content.about__item--hover
          a.about__link(href="micro.html")
            h3.about__subtitle Микрозайм «Антивирус»
            dl.about__d-list
              .about__d-row
                dt.about__d-term Сумма займа:
                dd.about__d-definition.about__d-definition--red от 100 000 до 5 000 000 руб.
              .about__d-row
                dt.about__d-term Срок займа:
                dd.about__d-definition до 24 месяцев (включительно)
                  .info.info--about
                    button.info__button
                      +icon("info", "20", "20")
                    p.info__text Места ведения бизнеса, в случае использования нескольких точек укажите все.
              .about__d-row
                dt.about__d-term Ставка:
                dd.about__d-definition 7,5% годовых
