section.documents
  .custom-container
    .documents__content
      .documents__row
        h2.documents__title Верификация личности
        p.documents__name Петров Александр Владимирович
        p.documens__text Сделайте качественные фото или цветную копию паспорта и загрузите в форму ниже для продолжения регистрации на сервисе.
      .documents__row
        h3.documents__heading Главный разворот паспорта:
        p.documents__note Изображение в формате jpg, png, jpeg размером не более 5 МБ.
        button.documents__attach
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Страницы 3-4 (отметка о прописке):
        p.documents__note Изображение в формате jpg, png, jpeg размером не более 5 МБ.
        button.documents__attach
          span.documents__attach-text Прикрепить
      a.documents__button(href="#") Продолжить

