section.documents
  .custom-container
    .documents__content
      .documents__row
        h2.documents__title Учредительные документы
        p.documents__name ООО «Бизнес»
        p.documents__text Загрузите необходимые документы для регистрации организации на платформе.
      .documents__row
        h3.documents__heading Устав со всеми изменениями и дополнениями с отметкой регистрирующего органа:
        p.documents__text.documents__text--mmb Если устав в новой редакции, то предоставляется только устав в последней редакции, предыдущие редакции устава с изменениями не предоставляются
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Свидетельство о постановке на учёт юридического лица в налоговом органе:
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Свидетельство о государственной регистрации юридического лица / лист записи ЕГРЮЛ:
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Протокол (решение) о создании общества:
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Информационное письмо с кодами статистики / уведомление о присвоении кодов статистики
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Лицензии на осуществление специальных видов деятельности, подлежащих лицензированию:
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Документы, подтверждающие полномочия руководителя и доверенность:
        p.documents__text.documents__text--mmb Протокол общего собрания / решение единственного учредителя / участника об избрании руководителя и т.п., а также доверенность, если Договор подписывает лицо, не являющееся руководителем организации. Если руководитель назначается (избирается) советом директоров необходимо также представить копию протокола общего собрания акционеров (участников) об избрании состава совета директоров, избравшего руководителя.
        p.documents__note Прикрепите файл в формате pdf, doc, docx размером не более 30 МБ.
        button.documents__attach.btn.btn--attach
          +icon("icon-attach", "18", "18").btn__icon
          span.documents__attach-text Прикрепить
      .documents__bottom
        a.documents__button.button.button--red(href="#") Продолжить

