section.documents
  .custom-container
    .documents__content
      .documents__row
        h2.documents__title Верификация личности
        p.documents__name Петров Александр Владимирович
        p.documents__text Сделайте качественные фото или цветную копию паспорта и загрузите в форму ниже для продолжения регистрации на сервисе.
      .documents__row
        h3.documents__heading Главный разворот паспорта:
        p.documents__note Изображение в формате jpg, png, jpeg размером не более 5 МБ.
        .dropzone-form.dropzone(data-dz)
          button.documents__attach.btn.btn--attach(type="button" data-dz-add)
            +icon("icon-attach", "18", "18").btn__icon
            span.documents__attach-text Прикрепить
      .documents__row
        h3.documents__heading Страницы 3-4 (отметка о прописке):
        p.documents__note Изображение в формате jpg, png, jpeg размером не более 5 МБ.
        .documents__attach-complete.attach-complete
          a.attach-complete__text(href="#")
            +icon("icon-image", "22", "22").attach-complete__icon
            span страницы прописка.jpg
          button.attach-complete__delete
            +icon("icon-delete", "20", "20").attach-complete__delete-icon
      .documents__bottom
        a.documents__button.button.button--red(href="#") Продолжить

