.attach-complete {
  display: flex;
  align-items: center;

  &__icon {
    margin: 0 8px 0 0;

    fill: transparent;
    stroke: $red;
    stroke-width: 2px;
  }

  &__text {
    color: $red;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    margin: 0 0 0 12px;

    background-color: transparent;
  }

  &__delete-icon {
    stroke: rgba(0, 0, 0, 100%);
    stroke-width: 2px;
  }
}
