section.events.events-full
  .custom-container
    .events-full__wrapper.events__wrapper
      .events-full__info
        h2.events-full__title Получение электронной цифровой подписи
        dl.events-full__dl-list
          .events-full__dl-wrap
            dt.events-full__dl-term Прием заявок:
            dd.events-full__dl-def.events-full__dl-def--brown до 30 ноября 2022 года
        .events-full__documents
          h3.events-full__subheading Документы
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Форма заявки.docx
      .events-full__description
        h3.events-full__heading.events__heading Для чего нужна электронная цифровая подпись?
        h4.events-full__heading.events-full__heading--uppercase 1. Сдача отчетности
        p.events-full__text Подготовка и отправка любых видов отчетности во все контролирующие органы (ФНС, ПФР, ФСС, Росстат) быстро и без ошибок.
        h4.events-full__heading.events-full__heading--uppercase 2. ГОСОРГАНЫ И ИХ ИНФОРМАЦИОННЫЕ СИСТЕМЫ
        ul.events-full__list.events-full__list--no-border
          li.events-full__item
            span.events-full__name Портал ФНС
          li.events-full__item
            span.events-full__name Госуслуги
          li.events-full__item
            span.events-full__name Федресурс
        h4.events-full__heading.events-full__heading--uppercase 3. ОНЛАЙН-КАССЫ И ТОРГИ
        p.events-full__text Подпись подойдет для регистрации онлайн-касс и участия в торгах на площадках, которые не запрашивают специального расширения.
        h3.events-full__heading.events__heading Какая подпись выдается?
        p.events-full__text Центр «Мой бизнес» предоставляет электронный носитель с доступом к системе «Контур.Экстерн» сроком на 1 год по тарифному плану «Оптимальный плюс».
        h3.events-full__heading.events__heading Кто может воспользоваться?
        p.events-full__text Юридические лица, индивидуальные предприниматели, зарегистрированные на территории Ямало-Ненецкого автономного округа и не имеющие действующего сертификата системы Контур.Экстерн.
        .events-full__bottom
          a.button.button--red(href="#") Отправить заявку

