.about__wrapper
  .about__content.active
    h2.about__title Электронная цифровая подпись
    ul.about__list.about__list--content
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Получение электронной цифровой подписи
          p.about__description Центр «Мой бизнес» предоставляет электронный носитель с доступом к системе «Контур.Экстерн» сроком на 1 год по тарифно...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Прием заявок:
              dd.about__d-definition.about__d-definition--brown до 30 ноября 2022
