section.events.events-full
  .custom-container
    .events-full__wrapper.events__wrapper
      .events-full__info
        h2.events-full__title Универсальное поручительство
        dl.events-full__dl-list
          .events-full__dl-wrap
            dt.events-full__dl-term Сумма поручительства:
            dd.events-full__dl-def.events-full__dl-def--brown от 100 000 руб.
          .events-full__dl-wrap
            dt.events-full__dl-term Срок поручительства:
            dd.events-full__dl-def от 1 до 120 месяцев
        .events-full__documents
          h3.events-full__subheading Документы
          .attach-complete
            a.attach-complete__text(href="#")
              +icon("icon-doc", "22", "22").attach-complete__icon
              span Форма заявки.docx
      .events-full__description
        h3.events-full__heading.events__heading Цель привлечения финанасирования (кредита \ займа \ лизинга \ банковской гарантии)
        p.events-full__text Предоставление поручительств по кредитным договорам/договорам займа (микрозайма)/договорам банковской гарантии: • на приобретение, модернизацию и создание основных средств, • на пополнение оборотных средств, • рефинансирование кредита/займа, • на исполнение контрактов в порядке, определенном Федеральными законами № 44-ФЗ или № 223-ФЗ
        h3.events-full__heading.events__heading Объем поручительства
        ul.events-full__list.events-full__list--no-border
          li.events-full__item
            span.events-full__name До 70% (включительно) от суммы кредита/займа (микрозайма) на исполнение контрактов в порядке, определенном Федеральными законами № 44-ФЗ или № 223-
          li.events-full__item
            span.events-full__name До 60% (включительно) от суммы кредита/займа (микрозайма) на приобретение, модернизацию и создание основных средств, на пополнение оборотных средств, рефинансирование кредита/займа или банковской гарантии на исполнение контрактов в порядке, определенном Федеральными законами № 44-ФЗ или № 223-ФЗ
        h3.events-full__heading.events__heading Вознаграждение, процентов годовых
        h4.events-full__heading.events-full__heading--uppercase годовых	Сумма поручительства до 3 000 000 руб.:
        ul.events-full__list.events-full__list--no-border
          li.events-full__item
            span.events-full__name - 1,00 % годовых при уплате вознаграждения - единовременно
          li.events-full__item
            span.events-full__name - 1,25 % годовых при уплате вознаграждения – ежегодно
        h4.events-full__heading.events-full__heading--uppercase Сумма поручительства свыше 3 000 000 руб.:
        ul.events-full__list.events-full__list--no-border
          li.events-full__item
            span.events-full__name - 1,00 % годовых при уплате вознаграждения - единовременно
          li.events-full__item
            span.events-full__name - 1,25 % годовых при уплате вознаграждения – ежегодно
        h3.events-full__heading.events__heading Порядок уплаты вознаграждения
        p.events-full__text Единовременно/ ежегодно/ 1 раз в полгода/ ежеквартально
        .events-full__bottom
          a.button.button--red(href="#") Отправить заявку

