.about__wrapper
  .about__content.active
    h2.about__title Поручительство
    ul.about__list.about__list--content
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Согарантия
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма поручительства:
              dd.about__d-definition.about__d-definition--brown от 500 000 руб.
          .about__d-row
            dt.about__d-term Срок поручительства:
            dd.about__d-definition от 1 до 184 месяцев
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Универсальное поручительство
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма поручительства:
              dd.about__d-definition.about__d-definition--brown от 100 000 руб.
          .about__d-row
            dt.about__d-term Срок поручительства:
            dd.about__d-definition от 1 до 120 месяцев
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Поручительство без повторного андеррайтинга по кредитным договорам
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма поручительства:
              dd.about__d-definition.about__d-definition--brown от 5 до 24 млн. руб.
          .about__d-row
            dt.about__d-term Срок поручительства:
            dd.about__d-definition по условиями АО «Корпорация МСП»
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Самозанятый
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма поручительства:
              dd.about__d-definition.about__d-definition--brown от 50 000 руб.
          .about__d-row
            dt.about__d-term Срок поручительства:
            dd.about__d-definition от 1 до 36 месяцев
