aside.aside-info
  .aside-info__block
    h2.aside-info__heading Действующие займы
    ul.aside-info__list
      li.aside-info__item
        .aside-info__title
          h3.aside-info__title-text Микрозайм «Недвижимость»
          +icon("icon-loan-simple", "24", "24").aside-info__title-icon
        dl.aside-info__dl-list
          .aside-info__dl-list-inner
            dt.aside-info__dl-list-term Остаток:
            dd.aside-info__dl-list-definition 234 450,40 руб.
          .aside-info__dl-list-inner
            dt.aside-info__dl-list-term Ближайший платеж:
            dd.aside-info__dl-list-definition 30 240,50 руб.
      li.aside-info__item
        .aside-info__title
          h3.aside-info__title-text Микрозайм «Старт»
          +icon("icon-loan-simple", "24", "24").aside-info__title-icon
        dl.aside-info__dl-list
          .aside-info__dl-list-inner
            dt.aside-info__dl-list-term Остаток:
            dd.aside-info__dl-list-definition 29 232,68 руб.
          .aside-info__dl-list-inner
            dt.aside-info__dl-list-term Ближайший платеж:
            dd.aside-info__dl-list-definition 3 240,55 руб.
  .aside-info__block
    h2.aside-info__heading Справка
    ul.aside-info__list
      li.aside-info__item
        a.aside-info__link(href="#")
          +icon("icon-question", "24", "24").aside-info__link-icon
          span.aside-info__link-text Как происходит расчет суммы займа?
      li.aside-info__item
        a.aside-info__link(href="#")
          +icon("icon-question", "24", "24").aside-info__link-icon
          span.aside-info__link-text Какой порядок оплаты задолженностей при несвоевременной оплате?
  .aside-info__banner
    h2.aside-info__banner-title Займы для индивидуальных предпринимателей по сниженной ставке 4,3% годовых!
    p.aside-info__banner-text Специальное предложение по займам «Недвижимость» и «Универсальный» до 30 апреля 2022 года.
