.about__wrapper
  .about__content.active
    h1.personal-area__title Подписать документы
    .personal-area__data
      .personal-area__box
        h2.personal-area__name Получение гранта на развитие социально ориентированного бизнес-проекта
      .personal-area__box
        .personal-area__upload
          h3.personal-area__heading.personal-area__heading--single Заявление
          button.btn.btn--attach
            span.btn__text Подписать
            +icon("icon-red-pan", "18", "18").btn__icon.btn__icon--right
      .personal-area__box
        .personal-area__upload
          h3.personal-area__heading.personal-area__heading--single Согласие на обработку персональных данных
          button.btn.btn--attach
            span.btn__text Подписать
            +icon("icon-red-pan", "18", "18").btn__icon.btn__icon--right
      .personal-area__box
        .personal-area__upload
          h3.personal-area__heading.personal-area__heading--single Дополнительное соглашение по договору
          button.btn.btn--attach
            span.btn__text Подписать
            +icon("icon-red-pan", "18", "18").btn__icon.btn__icon--right
      .personal-area__buttons
        a.button.button--white(href="#")
          +icon("icon-left-arrow", "24", "24").button__icon--red.button__icon--left
          span.button__text Назад к моим заявкам
        a.button.button--red(href="#")
          span.button__text Подтвердить
