section.events.events-full
  .custom-container
    .events-full__wrapper.events__wrapper
      .events-full__info
        h2.events-full__title Грант на развитие молодежного бизнес-проекта “Свое дело”
        dl.events-full__dl-list
          .events-full__dl-wrap
            dt.events-full__dl-term Сумма компенсации:
            dd.events-full__dl-def.events-full__dl-def--brown до 1 000 000 руб.
        .events-full__documents
          h3.events-full__subheading Документы
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Заявление.docx
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Паспорт проекта.docx
          .attach-complete
            +icon("icon-doc", "22", "22").attach-complete__icon
            span.attach-complete__text Согласие на обработку персональных данных.docx
      .events-full__description
        p.events-full__text Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных материалов для работы, оформление результатов интеллектуальной деятельности и другие цели, предусмотренные порядком предоставления финансовой поддержки.
        h3.events-full__heading.events__heading Условия:
        ul.events-full__list.events-full__list--no-border
          li.events-full__item
            span.events-full__name Принять участие в конкурсном отборе могут индивидуальные предприниматели и юридические лица, имеющие статус “социальное предприятие”, которые зарегистрированы и работают на территории Ямала.
        h3.events-full__heading.events__heading Дополнительные документы для оформления заявки:
        ul.events-full__list
          li.events-full__item
            span.events-full__name Заявление по форме, согласно приложению № 2 к настоящему Порядку;
          li.events-full__item
            span.events-full__name Паспорт проекта по форме, согласно приложению № 3 к настоящему Порядку;
          li.events-full__item
            span.events-full__name Согласие на обработку персональных данных по форме, согласно приложению № 4 к настоящему Порядку;
          li.events-full__item
            span.events-full__name Заверенная копия документа, удостоверяющего личность: гражданами Российской Федерации предоставляется копия паспорта гражданина РФ (страницы 2-3; страница, содержащая отметку о регистрации по месту проживания в настоящее время (при наличии регистрации)), гражданами иностранных государств предоставляется копия паспорта иностранного гражданина с приложением вида на жительство и данными о регистрации по месту жительства (пребывания);
          li.events-full__item
            span.events-full__name Копии документов, подтверждающих планируемые затраты на подключение к сети (проекты договоров, соглашений, контрактов или иных документов с указанием стоимости планируемых к выполнению работ и (или) оказанию услуг).
        .events-full__bottom
          a.button.button--red(href="#") Отправить заявку

