.about__wrapper
  .about__content.active
    h2.about__title Гранты
    ul.about__list.about__list--content
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Грант на развитие социально ориентированного бизнес-проекта
          p.about__description Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных мате...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Грант на создание социально ориентированного бизнеса
          p.about__description Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных мате...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Грант на развитие молодежного бизнес-проекта “Свое дело”
          p.about__description Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных мате...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Грант на развитие бизнес-проекта “Время действовать”
          p.about__description Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных мате...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Предоставление услуг по регистрации Электронной подписи
          p.about__description Средства гранта можно расходовать на аренду и ремонт рабочего помещения, покупку и модернизацию оборудования, расходных мате...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
