.tabs-nav {
  position: relative;

  padding: 40px 0 0;

  background-color: #fff;

  &::after {
    @extend %line;

    top: 0;
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;

    margin: 0;
    padding: 180px 0 50px;

    //background-color: $bg;
    visibility: hidden;
    opacity: 0;

    transition: all ease-out 0.3s;

    pointer-events: none;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;

    pointer-events: all;
  }

  .custom-container {
    @extend %wrapper;

    @media screen and (max-width: 1023px) {
      padding: 0;
      overflow: scroll;
    }
  }

  &__header {
    position: relative;

    display: flex;
    padding: 0 20px 5px;

    @media screen and (max-width: 1023px) {
      height: 100%;
      padding: 0;
      overflow-y: scroll;

      //background-color: $bg;
    }
  }

  &__list {
    display: flex;
    padding: 0;

    @media screen and (max-width: 1023px) {

      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: unset;
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex: 1 0 auto;
    box-sizing: border-box;
    min-width: 110px;
    max-width: 160px;
    height: auto;

    @media screen and (max-width: 1023px) {
      flex: 0 0 auto;
      min-width: unset;
      max-width: unset;
      padding: 0 20px 0 0;
    }
  }

  &__link {
    &:hover {
      .tabs-nav__text {
        color: rgba($red, 0.5);
      }
    }

    @media screen and (max-width: 1023px) {
      flex-direction: row;
      padding: 20px;

      background-color: transparent;
      border-radius: 0 20px 20px 0;

      &::before {
        left: 0;
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
        top: -20px;
      }

      &::after {
        left: 0;
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
        bottom: -20px;
      }
    }
  }

  &__text {
    transition: color ease-out 0.15s;
    @media screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 26px;
      text-align: left;
    }
  }

  &__icon {
    transition: all ease-out 0.15s;
    @media screen and (max-width: 1023px) {
      flex: 0 0 auto;
      width: 45px;
      height: 45px;
      margin: 0 30px 0 0;
    }
    @media screen and (max-width: 767px) {
      flex: 0 0 auto;
    }
  }

  &__scrollbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 5px;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 30%);

    @media screen and (max-width: 1023px) {
      display: none;
    }

    .swiper-scrollbar-drag {
      width: 10%;

      background-color: $red;
    }
  }

  &__arrows {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    border-radius: 10px;

    background-color: $red;
    transform: translate(-50%, -50%);
    cursor: pointer;

    transition: all ease-out 0.3s;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    svg {
      fill: none;
      stroke: $white;
    }

    &--prev {
      transform: translate(0, -50%);
    }

    &--next {
      right: 0;
      left: unset;

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &--disabled {
      cursor: default;
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
