footer.page-footer
  .page-footer__top
    .page-footer__wrapper
      ul.page-footer__list
        li.page-footer__item
          a.page-footer__link(href="#") Политика конфиденциальности
        li.page-footer__item
          a.page-footer__link(href="#") Пользовательское соглашение
        li.page-footer__item
          a.page-footer__link(href="#") Согласие на обработку персональных данных
        li.page-footer__item
          a.page-footer__link(href="#") Форма обратной связи
  .page-footer__bottom
    .page-footer__wrapper
      p.page-footer__copyright © 2021 Мой бизнес
