.personal-area {
  padding: 60px 0;

  .custom-container {
    @extend %wrapper;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 410px 1fr;
    gap: 30px;

    @media screen and (max-width: 1199px) {
      grid-template-columns: 40% 1fr;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    &:not(:last-child) {
      margin: 0 0 60px;
    }
  }

  &__inner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin: 0 0 40px;

    font-size: 44px;
    line-height: 60px;

    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link-item {
    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

    color: $black;
    font-size: 18px;
    line-height: 24px;

    transition: all ease-out 0.2s;

    &--active {
      background-color: $white;
      box-shadow: 0 10px 40px rgba(35, 31, 32, 5%);

      svg {
        stroke: $red;
      }
    }

    &:hover:not(.personal-area__link--active) {
      background-color: rgba($white, 0.6);

      svg {
        stroke: rgba($red, 0.6);
      }
    }
  }

  &__link-icon {
    margin: 0 20px 0 0;

    transition: all ease-out 0.2s;

    fill: transparent;

    stroke: rgba($black, 0.4);
    stroke-width: 2px;
  }

  &__data {

    min-width: 0;
    padding: 30px 0;
    border-radius: 10px;

    background-color: $white;
    box-shadow: 0 10px 40px rgba(35, 31, 32, 5%);

    &:not(:last-child) {
      margin: 0 0 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 15px 0;
    }
  }

  &__data--link {
    position: relative;

    &:hover {
      .personal-area__name {
        color: $red;
      }
    }
  }

  &__data-wrapper {
    min-width: 0;
  }

  &__box {
    margin: 0 0 20px;
    padding: 0 40px 20px;
    border-bottom: 2px solid $gray;

    @media screen and (max-width: 767px) {
      padding: 0 15px 15px;
    }

    &--no-border {
      margin: 0;
      padding: 0 40px;
      border: none;

      @media screen and (max-width: 767px) {
        padding: 0 15px 15px;
      }
    }
  }

  &__top {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px;

    &--small {
      margin: 0 0 20px;
    }

    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 0 20px;
    }
  }

  &__name {
    margin: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    transition: all ease-out 0.15s;

    @media screen and (max-width: 767px) {

      font-size: 20px;
      line-height: 26px;
    }
  }

  &__hashtag {
    color: $brown-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__dl-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    @media screen and (max-width: 767px) {
      margin: 0 0 20px;
    }

    &--no-margin {
      margin: 0;
    }

    &--margin-top {
      margin: 30px 0 0;
    }
  }

  &__dl-wrap {
    display: flex;

    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  &__dl-term {
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__dl-def {
    margin: 0 0 0 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__data-link {
    color: $red;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__data-title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      margin: 0 0 20px;

      font-size: 14px;
      line-height: 18px;
    }

    &--grey {
      margin: 0 0 20px;

      color: rgba($black, 0.6);
    }
  }

  &__attach-list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__attach-item {
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  &__heading {
    margin: 0 0 8px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    &--single {
      margin: 0;

      color: $black;

      font-size: 20px;
      line-height: 28px;

      transition: all ease-out 0.15s;

      &:hover {
        color: $red;
      }
    }

    @media screen and (max-width: 1023px) {
      margin: 0 0 20px;

      font-size: 16px;
      line-height: 18px;
    }
  }

  &__upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }

  .attach-complete {
    @media screen and (max-width: 1023px) {
      margin: 0 0 20px;
    }
  }

  &__status-box {
    display: flex;
    align-items: center;

    &--burger {
      position: relative;
    }

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  &__btn:not(a):not(button) {
    &:hover {
      //cursor: default;
    }
  }

  &__sandwich {
    //margin: 0 0 0 auto;
    position: absolute;
    top: 50%;
    right: -25px;

    transform: translateY(-50%);

    @media screen and (max-width: 1023px) {
      top: 0;

      transform: translateY(0);
    }

    @media screen and (max-width: 767px) {
      right: 0;
    }
  }

  &__sandwich-list {
    position: absolute;
    top: 30px;
    right: 0;

    margin: 0;
    padding: 10px 0;
    border-radius: 15px;

    list-style: none;

    background-color: $bg;
    box-shadow: 4px 6px 19px 0 rgba(0, 0, 0, 20%);
    opacity: 0;

    transition: all ease-out 0.3s;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      width: calc(100vw - 40px);
      right: -15px;
    }

    &.active {
      opacity: 1;

      pointer-events: all;
    }
  }

  &__sandwich-item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 10%);
      }
    }
  }

  &__sandwich-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 25px;

    color: $black;

    font-size: 14px;
    line-height: 16px;

    cursor: pointer;

    transition: all ease-out 0.3s;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    .btn__icon {
      margin: 0;

      @media screen and (max-width: 767px) {
        width: 22px;
        height: 22px;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__sandwich-text {
    margin: 0 5px 0 0;

    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__additionally {
    padding: 15px;
    border-radius: 10px;

    font-size: 16px;
    line-height: 22px;

    background-color: $gray;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: stretch;
      padding: 0 15px;

      >* {
        &:not(:last-child) {
          margin: 0 0 20px;
        }
      }
    }
  }

  &__shadow-link {
    &::after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';
    }
  }

  .button-back {
    align-self: flex-start;
    width: auto;
    margin: 30px 0 0;
  }
}

h1.personal-area__title {
  font-size: 40px;
  line-height: 56px;

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 46px;
  }
}

h2.personal-area__title {
  font-size: 32px;
  line-height: 48px;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
  }
}
