section.personal-area
  .custom-container
    .events__wrapper
      .events__inner
        h2.personal-area__title Личный кабинет
        ul.personal-area__link-list
          li.personal-area__link-item
            a.personal-area__link(href="personal-area.html")
              +icon("icon-user", "24", "24").personal-area__link-icon
              span.personal-area__link-text Учетная запись
          li.personal-area__link-item
            a.personal-area__link.personal-area__link--active
              +icon("icon-case", "24", "24").personal-area__link-icon
              span.personal-area__link-text Компании и реквизиты
          li.personal-area__link-item
            a.personal-area__link(href="personal-area-3.html")
              +icon("icon-list", "24", "24").personal-area__link-icon
              span.personal-area__link-text Мои заявки
        a.button.button--red.button-back(href="index.html")
          +icon("icon-back", "24", "24").button__icon--back
          span.button__text Все услуги
      .events__data-wrapper
        .personal-area__data.personal-area__data--link
          .personal-area__box.personal-area__box--no-border
            .personal-area__top
              h2.personal-area__name ООО «Бизнес»
              span.personal-area__hashtag #Юр. лицо
            dl.personal-area__dl-list.personal-area__dl-list--no-margin
              .personal-area__dl-wrap
                dt.personal-area__dl-term ИНН:
                dd.personal-area__dl-def 234 546 345 400
              .personal-area__dl-wrap
                dt.personal-area__dl-term Адрес:
                dd.personal-area__dl-def г. Москва, ул. 3-я Строителей, д. 14
              .personal-area__dl-wrap
                dt.personal-area__dl-term Телефон:
                dd.personal-area__dl-def +7 (999) 227-23-23
              .personal-area__dl-wrap
                dt.personal-area__dl-term E-mail:
                dd.personal-area__dl-def ivan.ivanov@gmail.com
          a.personal-area__shadow-link(href="requisites.html")
        .personal-area__data.personal-area__data--link
          .personal-area__box.personal-area__box--no-border
            .personal-area__top
              h2.personal-area__name ИП Петров А. В.
              span.personal-area__hashtag #ИП
            dl.personal-area__dl-list.personal-area__dl-list--no-margin
              .personal-area__dl-wrap
                dt.personal-area__dl-term ИНН:
                dd.personal-area__dl-def 234 546 345 400
              .personal-area__dl-wrap
                dt.personal-area__dl-term Телефон:
                dd.personal-area__dl-def +7 (999) 227-23-23
              .personal-area__dl-wrap
                dt.personal-area__dl-term E-mail:
                dd.personal-area__dl-def ivan.ivanov@gmail.com
          a.personal-area__shadow-link(href="#")
        .personal-area__data.personal-area__data--link
          .personal-area__box.personal-area__box--no-border
            .personal-area__top
              h2.personal-area__name Петров Александр Владимирович
              span.personal-area__hashtag #Самозанятый
            dl.personal-area__dl-list.personal-area__dl-list--no-margin
              .personal-area__dl-wrap
                dt.personal-area__dl-term ИНН:
                dd.personal-area__dl-def 234 546 345 400
              .personal-area__dl-wrap
                dt.personal-area__dl-term Телефон:
                dd.personal-area__dl-def +7 (999) 227-23-23
              .personal-area__dl-wrap
                dt.personal-area__dl-term E-mail:
                dd.personal-area__dl-def ivan.ivanov@gmail.com
          a.personal-area__shadow-link(href="#")

