section.personal-area
  .custom-container
    h1.personal-area__title ООО «Национальное достояние России»
    .personal-area__wrapper
      .personal-area__company-requisites
        dl.personal-area__dl-list.personal-area__dl-list--margin-top
          .personal-area__dl-wrap
            dt.personal-area__dl-term ИНН:
            dd.personal-area__dl-def 234 546 345 400
          .personal-area__dl-wrap
            dt.personal-area__dl-term Адрес:
            dd.personal-area__dl-def г. Москва, ул. 3-я Строителей, д. 14
          .personal-area__dl-wrap
            dt.personal-area__dl-term Телефон:
            dd.personal-area__dl-def +7 (999) 227-23-23
          .personal-area__dl-wrap
            dt.personal-area__dl-term Email:
            dd.personal-area__dl-def ivan.ivanov@gmail.com
      .personal-area__data
        .personal-area__box
          h2.personal-area__name Документы
        .personal-area__box
          h3.personal-area__heading Свидетельство о регистрации юридического лица или лист записи ЕГРЮЛ:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span Свидетельство о регистрации юридического лица или лист записи ЕГРЮСвидетельство о регистрации юридического лица или лист записи ЕГРЮСвидетельство о регистрации юридического лица или лист записи ЕГРЮСвидетельство о регистрации юридического лица или лист записи ЕГРЮ
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Свидетельство о постановке на учет в налоговой инспекции по юридическому адресу:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span свидетельство о постановке по адресу.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Устав:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span устав.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Протокол (решение) о создании общества:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span Протокол(решение).docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Договор об учреждении:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span учреждение.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Список участников:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span список участников.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Протокол (приказ) о назначении гендиректора:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span приказ о назначении гендира.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Выписка из ЕГРЮЛ:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span Выписка из ЕГРЮЛ от 24.01.2022.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Коды статистики:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span Коды статистики.docx
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
        .personal-area__box
          h3.personal-area__heading Информация о филиалах и обособленных подразделениях ООО, если они открыты:
          .personal-area__upload
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Прикрепить
        .personal-area__box.personal-area__box--no-border
          h3.personal-area__heading Доверенности:
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span доверенность 1.pdf
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
          .personal-area__upload
            .attach-complete
              a.attach-complete__text(href="#")
                +icon("icon-doc", "22", "22").attach-complete__icon
                span доверенность 2.pdf
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Заменить документ
          .personal-area__upload
            .dropzone-form.dropzone(data-dz data-dz-text)
              button.documents__attach.btn.btn--attach(type="button" data-dz-add)
                +icon("icon-attach", "18", "18").btn__icon
                span.documents__attach-text Прикрепить
