.about__header.about__header--inner.breadcrumbs
  .about__wrapper
    ul.pagination
      li.pagination__item
        a.pagination__link(href="about.html") Финансовая поддержка бизнеса
      li.pagination__item
        a.pagination__link(href="micro.html") Микрозайм «Недвижимость»
      li.pagination__item
        span.pagination__current Заявка на получение
