.about__wrapper
  .about__content.active
    h2.about__title Компенсации
    ul.about__list.about__list--content
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Компенсация на приобретение и ремонт оборудования
          p.about__description Описание компенсации. Претендовать на финансовую поддержку могут индивидуальные предприниматели и юридические лица, котор...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Компенсация на подключение к инженерным сетям
          p.about__description Описание компенсации. Претендовать на финансовую поддержку могут индивидуальные предприниматели и юридические лица, котор...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Компенсация расходов по кадастровым работам
          p.about__description Описание компенсации. Претендовать на финансовую поддержку могут индивидуальные предприниматели и юридические лица, котор...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
      li.about__item.about__item--content.about__item--hover
        a.about__link(href="#")
          h3.about__subtitle Компенсация расходов на приобретение франшизы
          p.about__description Описание компенсации. Претендовать на финансовую поддержку могут индивидуальные предприниматели и юридические лица, котор...
          dl.about__d-list
            .about__d-row
              dt.about__d-term Сумма компенсации:
              dd.about__d-definition.about__d-definition--brown до 1 000 000 руб.
