$bg: #F4EDE2;
$brown: #c59368;
$black: #231F20;
$black-80: rgba(35, 31, 32, 80%);
$black-60: rgba(35, 31, 32, 60%);
$black-40: rgba(35, 31, 32, 40%);
$black-20: rgba(35, 31, 32, 20%);
$gray: #F4F4F4;
$gray-dark: #4e5a68;
$red: #ee5238;
$red-system: #FF0000;
$red-dark: #E6391D;
$red-80: rgba(238, 82, 56, 80%);
$red-20: rgba(238, 82, 56, 20%);
$red-10: rgba(238, 82, 56, 10%);
$white: #ffffff;
$primary: #FBD9C9;
$green: #2EB349;
$brown-color: #c79569;
$white: #ffffff;
